/*   HEADER START   */
.navbar{
    display: flex;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    text-align: center;
}


.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    flex-grow: 1;
    margin-left: 50px;
}

.logo a{
    text-decoration: none;
}

.logoSpan{
    display: flex;
    gap:1px;
}

/* nth-child ile nasıl yapabilirim   
.logo span:nth-child(3){
    color: red;
} */

.logoLeft{
    color: blue;
    font-size: 18px;
}

.logoRight{
    color: black;
    font-size: 18px;
}
/* 
.logoSpan:hover{
    logoright


    bunu nasıl yapabilirim ?
} */



.menuItem{
    flex-grow: 1;
}

.menuItem ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


.menuItem ul li a{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;
}

.menuItem ul li a:hover{
    color: rgba(64, 75, 191, 1);
}

.menuItem ul li a:active{
    border-bottom: 4px solid blue;
    border-radius: 2px;
    color: rgba(64, 75, 191, 1);
}

.menuItem a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: navy;
}


.info{
    flex-grow: 1;
    font-size: 16px;
}

.info span{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.adres address:hover{
    color: rgba(64, 75, 191, 1);
}

.adres p:hover{
    color: rgba(64, 75, 191, 1);
}


.adres address{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

.adres p{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
letter-spacing: 2%;
line-height: 24px;
color: #434455;
}

.adres:hover{
    color: red;
}
/*----------HEADER END*/


/*--------MAİN START*/

/* .contact form{
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background: rgba(252, 252, 252, 1);
    border: 2px solid red;

} */



/*FORM START                                    */



.contactDiv{
    width: 408px;
    height: 584px;
    background-color: rgba(252, 252, 252, 1);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}
.contactDiv fieldset{
    border: none;
}
.formTitle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: center;
    width: 360px;
}
.formTitle svg {
    margin-top: 10px;
}

.formTitle svg:hover{
    stroke: white;
    fill: rgba(77, 90, 229, 1);
}


.contactText{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: rgba(46, 47, 66, 1);
    font-family: "Roboto", sans-serif;
}


.contactPerson{
    display: flex;
    flex-direction: column;
    font-weight:400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    font-family: "Roboto", sans-serif;
    align-items: start;
    color: rgba(142, 143, 153, 1);
}

.contactPerson input{
    width: 360px;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgba(142, 143, 153, 1);
    transition: border 0.5ms;
}
.contactPerson input:active{
    border: 2px solid rgba(77, 90, 229, 1);
}


.contactComment{
    color: rgba(142, 143, 153, 1);
    font-weight:400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    font-family: "Roboto", sans-serif;    
}

.contactComment textarea{
    width: 360px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: none;
}
.contactComment textarea:active{
    border: 2px solid rgba(77, 90, 229, 1);

}
.contactCheck{
    color: rgba(117, 117, 117, 1);
    font-weight:400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    font-family: "Roboto", sans-serif;    
}


.privacyPolicy{
    color:rgba(77, 90, 229, 1) ;
    font-family: "Roboto", sans-serif;    
font-weight: 500;
line-height: 14px;
letter-spacing: 4%;
font-size: 12px;
border-bottom: 1px solid rgba(77, 90, 229, 1);

}



#send{
    width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    color: white;
    background-color: rgba(77, 90, 229, 1);
    border: none;
    margin-left: 105px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;    
    font-weight: 500;
    letter-spacing: 4%;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}


#name{
    background-image: url(ımages/name.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

#phone{
    background-image: url(ımages/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#email{
    background-image: url(ımages/email.svg);
    background-repeat: no-repeat;
    background-size: contain;
}



/* FORM END                                      */





.sectionOne{
    width: 100%;
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #2E2F42;
    align-items: center;



}

.sectionOne p{
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    font-family: "Roboto", sans-serif;
    color: white;


}

.sectionDiv{
margin: auto;
display: flex;
flex-direction: column;
align-items: center;

}

.orderButton {
    color: white;
    background-color: #4D5AE5;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    box-shadow: 0,0,0,0.15;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 4%;
line-height: 24px;
}

.orderButton:hover{
    background-color: rgba(64, 75, 191, 1);
}

.sectionDivTwoUl svg{
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid rgba(142, 143, 153, 1);
    background-color: rgba(244, 244, 253, 1);
}


.sectionTwo{
    width: 100%;
    margin-top: 50px;
    display: flex;
    width: 100%;
height: 224px;
}


/*Neden div içerisine auto verince ortalanıyorda section içerisine verince olmuyor ?*/

.sectionDivTwo{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
}


.sectionDivTwoUl{
    display: flex;
    width: 1128px;
    height: 104px;
    list-style-type: none;

}

.sectionDivTwoUl li{
    height: 112px;
    width: 100%;
}



.listTittle{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 2%;
}

.listDesc{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;
color #434455;
width: 264px;
height: 72px;
}



.sectionThree{
    width: 100%;
    height: 732px;
    background-color: #F4F4FD;
    display: flex;
    margin-top: 200px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.team{
    display: flex;
    gap: 50px;
}

.teamPlayer{
    width: 264px;
    height: 380px;
    background-color: white;
    border-radius: 4px 4px;
    padding-bottom: 32px;
    border-radius: 12px;
    box-shadow: #2E2F42;
    position: relative;
}

.teamTitle{
width: 162px;
height: 40px;
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 2%
;
}

.teamPlayer span{
    width: 232px;
    height: 56px;
    align-items: center;
    text-align: center;
}


.teamName{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
}

.teamJob{
    color: #434455;
    font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 2%;
}

.icons{
    width: 232px;
    height: 40px;
    display: flex;
    gap: 24px;
    position: absolute;
    left: 20px;
}

.icons svg path:hover{
    fill: rgba(64, 75, 191, 1);
}


.portfolioElement img{
    width: 360px;
    height: 300px;
    }
    
    

.sectionFour{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
}
.portfolioTitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    color: #2E2F42;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolioElement{
    width: 360px;
    height: 420px;
    
}

.portfolioElement:hover{
    transform: scale(1.1);

}

.portfolioName{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
}

.portfolioDesc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.portfolioElement span{
    text-align: start;

}


/*     MAİN END    */

/*  FOOTER START */

.sectionFive{
    background-color: #2E2F42;
    height: 312px;
}

.nameWeb{
    color: #4D5AE5;
    font-size: 18px;
    letter-spacing: 3%;
    line-height: 21px;

}

.footerName{
    color: white;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    font-family: "Raleway", sans-serif;
    display: flex;

}

.sectionFive{
    display: flex;
    position: relative;
}
.footer{
    width: 262px;
    height: 112px;
    color: #F4f4FD;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    left: 100px;
}

.footerDesc p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    font-family: "Roboto", sans-serif;

}

.socialMedia{
    width: 208px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 500px;
    top: 50px;
}

.socialMedia p {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 2%;
width: 96px;
height: 24px;
color: rgba(255, 255, 255, 1);
}

.iconSocial{
    display: flex;
    gap: 10px;
}

.iconSocial svg path:hover{
    cursor: pointer;
    fill: rgba(49, 208, 170, 1);
}

.inputs{
    width: 453px;
    height: 80px;
    left: 800px;
    color: white;
    display: flex;
    position: absolute;
    top: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.inputs input::placeholder{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
letter-spacing: 4%;
line-height: 24px;
}
#inputs{
    width: 264px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
}
.inputs label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

#submit{
    width: 175px;
    height: 40px;
    background: rgba(77, 90, 229, 1);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    border: none;
    background-image: url(ımages/Frame\ 3.svg);
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    background-position: right;
}

.subscribe{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 8px 24px 8px 24px;
    border: none;
    outline: none;
}

#submit:hover{
    background-color: rgba(64, 75, 191, 1);
}










/*   FOOTER END   */
